<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista Administradores</title>
<link rel="stylesheet" href="../CSS/ListaAdminStyle.css">
</head>
<div class="principal">
<header>
	<div class="container">
		<nav class="nav">
			<div class="home">
				<a href="#">HOME</a>
			</div>

			<div class="lista">
				<a th:href="@{/formAdmin}" onclick="uncheck()">CADASTRO</a>
			</div>

			<div class="cliente">
				<a href="#">CLIENTE</a>
			</div>

			<div class="sair">
				<a href="#">SAIR</a>
			</div>
		</nav>
		<input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden"
			onselect=""> <label for="checkbox4">
			<div class="hamburger hamburger4">
				<span class="bar bar1"></span> <span class="bar bar2"></span> <span
					class="bar bar3"></span> <span class="bar bar4"></span> <span
					class="bar bar5"></span>
			</div>
		</label>
	</div>
	<h1>Lista de Administradores</h1>

	<div>
	</div>
</header>

<body>
	<table>
		<tr class="head">
			<th>Id</th>
			<th>Nome</th>
			<th>Email</th>
			<th>Alterar</th>
			<th>Excluir</th>
		</tr>
		<tr th:each="adm:${admins}">
			<td th:text="${adm.id}" />
			<td th:text="${adm.nome}" />
			<td th:text="${adm.email}" />
			<td><a th:href="@{/alterarAdmin(id=${adm.id})}">Alterar</a></td>
			<td><a th:href="@{/excluirAdmin(id=${adm.id})}">Excluir</a></td>
		</tr>
	</table>
	</div>

	<ul class="pagination">
		<li th:class="${paginaAtual == 1 ? 'disabled' : ''}"><a
			th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}"><i
				class="material-icons"><</i></a></li>

		<li th:each="p:${numPaginas}"
			th:class="${paginaAtual == p? 'active blue' : 'waves-effect'}">
			<a th:href="${p}"><span th:text="${p}"></span></a>
		</li>

		<li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}">
			<a th:href="${paginaAtual <  totalPaginas ? paginaAtual + 1 : '#'}"><i
				class="material-icons">></i></a>
		</li>
	</ul>

</body>
<script src="../JS/NavBarJS.js"></script>
</html>