<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista de Quadrinhos</title>
<link rel="stylesheet" href="../../CSS/ListaHQStyle.css">
</head>
<div class="principal">
	<header>
		<div class="container">
			<nav class="nav">
				<div class="home">
					<a href="#">HOME</a>
				</div>

				<div class="lista">
					<a th:href="@{/formQuadrinho}" onclick="uncheck()">CADASTRO</a>
				</div>

				<div class="cliente">
					<a href="#">CLIENTE</a>
				</div>

				<div class="sair">
					<a th:href="@{/logout}">SAIR</a>
				</div>
			</nav>
			<input type="checkbox" id="checkbox4"
				class="checkbox4 visuallyHidden" onselect=""> <label
				for="checkbox4">
				<div class="hamburger hamburger4">
					<span class="bar bar1"></span> <span class="bar bar2"></span> <span
						class="bar bar3"></span> <span class="bar bar4"></span> <span
						class="bar bar5"></span>
				</div>
			</label>
		</div>
		<h1>Lista de Quadrinhos</h1>

		<div id="busca">
			<form action="/procurarCategoria" class="search">
			<div>
				<button type="submit" id="btnBusca">
					<img src="../IMG/search-12-32.png">
				</button>
				<input type="search" name="palavraChave"
					placeholder="Digite uma Palavra para Buscar" id="txtbusca" autocomplete="off">
				</div>
				<select name="select">
					<option value="nome">Nome</option>
					<option value="palavraChave">Palavra Chave</option>
					<option value="descricao">Descrição</option>
				</select>
			</form>
		</div>
	</header>

	<body>
		<table>
			<tr class="head">
				<th>Id</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Categoria</th>
				<th>Classificação Indicativa</th>
				<th>Editora</th>
				<th>Autor</th>
				<th>Paginas</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
			<tr th:each="hq :${hqs}" >
				<td th:text="${hq.id}" />
				<td th:text="${hq.nome}" />
				<td th:text="${hq.descricao}" />
				<td th:text="${hq.tipo?.nome}"/>
				<td th:text="${hq.classIndicativa}" />
				<td th:text="${hq.editora}" />
				<td th:text="${hq.autor}" />
				<td th:text="${hq.qtdPaginas}" />
				<td><a th:href="@{/alterarQuadrinho(id=${hq.id})}">Alterar</a></td>
				<td><a th:href="@{/excluirQuadrinho(id=${hq.id})}">Excluir</a></td>
			</tr>
		</table>
</div>

<ul class="pagination">
	<li th:class="${paginaAtual == 1 ? 'disabled' : ''}"><a
		th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}"><i
			class="material-icons"><</i></a></li>

	<li th:each="p:${numPaginas}"
		th:class="${paginaAtual == p? 'active blue' : 'waves-effect'}"><a
		th:href="${p}"><span th:text="${p}"></span></a></li>

	<li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}"><a
		th:href="${paginaAtual <  totalPaginas ? paginaAtual + 1 : '#'}"><i
			class="material-icons">></i></a></li>
</ul>

</body>
<script src="../JS/NavBarJS.js"></script>
</html>