<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cadastro de Administrador</title>
<link rel="stylesheet" href="../CSS/FormAdminStyle.css">
</head>
<header th:replace="fragments/default :: cabecalhoAdmin"></header>

<img src="../IMG/thanos.png" class="thanos">
<body>
	<form action="salvarAdmin" method="post" id="formAdmin">
	<fieldset form="formAdmin">
	<legend>Administrador</legend>
	<input type="hidden" name="id" th:value="${admin?.id}">
		<div class="wrapper">
		<label>Nome</label>
		<input type="text" name="nome" required="required" th:value="${admin?.nome}" autocomplete="off">
		 <span class="underline"></span>
		 </div>
		 
		<br>
		
		<div class="wrapper">
		<label>Email</label>
		<input type="text" name="email" required="required" th:value="${admin?.email}" autocomplete="off">
		<span class="underline"></span>
		</div>
		
		<br> 
		
		<div class="wrapper">
		<label>Senha</label> 
		<input type="Password" name="senha">
		<span class="underline"></span>
		</div>
		
		 <br>
		
		<div class="botao-div">
		<button type="submit" id="botao" class="confetti-button">Salvar</button>
		</div>
		</fieldset>
	</form>
	
	<br>
	<div th:replace="fragments/msg"></div>
</body>
	
	
	<footer th:replace="fragments/default :: rodape"></footer>
	
<script src="../JS/FormsJS.js"></script>
</html>