<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cadastro de Administrador</title>
<link rel="stylesheet" href="../CSS/FormAdminStyle.css">
</head>
<header>
	 <div class="container">
		<nav class="nav">
			<div class="home">
			<a href="#">HOME</a>
			</div>
			
			<div class="lista">
			<a th:href="@{/listarAdmin/1}">LISTA</a>
			</div>
			
			<div class="cliente">
				<a href="#">CLIENTE</a>
			</div>
			
			<div class="sair">
				<a href="#">SAIR</a>
			</div>
		</nav>
		 <input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden" onselect="">
        <label for="checkbox4">
            <div class="hamburger hamburger4">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
                <span class="bar bar5"></span>
            </div>
          </label>
	 </div>
	<h1>Formulario de Administrador</h1>
	<div></div>
</header>
<img src="../IMG/thanos.png" class="thanos">
<body>
	<form action="salvarAdmin" method="post" id="formAdmin">
	<fieldset form="formAdmin">
	<legend>Administrador</legend>
	<input type="hidden" name="id" th:value="${admin?.id}">
		<div class="wrapper">
		<label>Nome</label>
		<input type="text" name="nome" required="required" th:value="${admin?.nome}" autocomplete="off">
		 <span class="underline"></span>
		 </div>
		 
		<br>
		
		<div class="wrapper">
		<label>Email</label>
		<input type="text" name="email" required="required" th:value="${admin?.email}" autocomplete="off">
		<span class="underline"></span>
		</div>
		
		<br> 
		
		<div class="wrapper">
		<label>Senha</label> 
		<input type="Password" name="senha" required="required">
		<span class="underline"></span>
		</div>
		
		 <br>
		
		<div class="botao-div">
		<button type="submit" id="botao" class="confetti-button">Salvar</button>
		</div>
		</fieldset>
	</form>
	
	
	<br>
	<div th:replace="fragments/msg"></div>
</body>

<script src="../JS/FormAdminJS.js"></script>
</html>