<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Formulario de Categorias</title>
<link rel="stylesheet" href="../CSS/FormTiposStyle.css">
</head>
<header th:replace="fragments/default :: cabecalhoTipos"></header>
<body>
<form action="salvarTipo" method="post" id="formTipos">
<fieldset form="formTipos">
	<legend>Categorias</legend>
	<input type="hidden" name="id" th:value="${tipo?.id}">
		<div class="wrapper">
		<label>Nome</label>
		<input type="text" name="nome" required="required" th:value="${tipo?.nome}" autocomplete="off">
		 <span class="underline"></span>
		 </div>
		 
		<br>
		
		<div class="wrapper">
		<label>Descricao</label>
		<textarea rows="4" cols="30" name="descricao" th:text="${tipo?.descricao}" required="required"></textarea>
		<span class="underline"></span>
		</div>
		
		<br> 
		
		<div class="wrapper">
		<label>Palavras Chave</label>
		<input type="text" name="palavraChave" th:value="${tipo?.palavraChave}">
		<span class="underline"></span>
		</div>
		
		 <br>
		
		<div class="botao-div">
		<button type="submit" id="botao" class="confetti-button">Salvar</button>
		</div>
		</fieldset>
</form>
<br>
	<div th:replace="fragments/msg"></div>
</body>
<input type="search">
<script src="../JS/FormsJS.js"></script>
<footer th:replace="fragments/default :: rodape"></footer>
</html>